This is test without config line
{{ header }}
{% for l in lines %}
{{ l }}
{% endfor %}

{% if ["a","b","c"] | contains(["2","a","b","c"]) %}
test contains and should display here
{% endif %}

{% if mymap | keys | contains(["key1"]) %}
contains Works
{% endif %}

Should display here:
{{ mystruct.F1 }}

Test regex_replace - {{ myvar | default('') | regex_replace('^.* ([^\\s]+) .*$','\\1') }}

Test if we set var in if and the var is available outside
{% if "mystring" == "mystring" %}
{% set myvar = "My var is set" %}
{% else %}
{% set myvar = "My var in the else" %}
{% endif %}

myvar: {{ myvar }}
