This is test without config line
{{ header }}
{% for l in lines %}
{{ l }}
{% endfor %}

{% if ["a","b","c"] | contains(["2","a","b","c"]) %}
test contains and should display here
{% endif %}

{% if mymap | keys | contains(["key1", "msdjflkasdfas"]) %}
Works
{% endif %}