#jinja2:variable_start_string:'{$', variable_end_string:'$}', trim_blocks:True, lstrip_blocks:True
This has config line. This gonja version is better that we still can control the if inside like this - Set both to True and
avoid wrapping the line in middle. That is if we add - to it, the settings is invalid and honor the custom setting.
The latest version does not do that (in branch testing no way to make this work)
{$ header $}

{% if (lines | length) == 0 %}
    {% for l in lines %}
{$ l $}
    {%- if not loop.last %},
    {% endif %}
    {% endfor %}
{% endif %}

{% for k, v in mymap %}
{% if 'Value' in v %}
{$ k $} - {$ v $}
{% endif %}
{% endfor %}

{% for outer in ["a","b"] %}
{% set lines = ["1","2","3"] %}
{% for l in lines %}
{$ l $}
{%- if not loop.last %},
{% endif %}
{% endfor %}
{% endfor %}