#jinja2:variable_start_string:'{$', variable_end_string:'$}', trim_blocks:True, lstrip_blocks:True
This has config line
{$ header $}
{% for l in lines -%}
{$ l $}{% if not loop.last %},{% endif %}
{% endfor -%}